<header></header>
<router-outlet />
<footer>
    <div class="footer-container">
        <div class="company-info">
            <img src="logo.png" alt="" class="logo" width="140px">
            <p class="caption">Top maker of durable, high-quality portable <br>cabins and modular offices.</p>
        </div>
        <div class="child-1">
            <div class="head">
                <h3>Our Products</h3>
            </div>
            <div class="links">
                <ul class="no-bullets">
                    <li class="footer-item"><a href="#" class="footer-link">Office Cabinss</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Restaurant Cabins</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Shop Cabins</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Home Cabins</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Toilet Cabins Visible</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Accomodation Cabins</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Farm House Cabins</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Security Cabins</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">More Products</a></li>
                </ul>
            </div>
        </div>
        <div class="child-1">
            <div class="head">
                <h3>Useful Link</h3>
            </div>
            <div class="links">
                <ul class="no-bullets">
                    <li class="footer-item"><a href="#" class="footer-link">About us</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Featured Products</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Request A Quote</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Our Projects</a></li>
                </ul>
            </div>
        </div>
        <div class="child-1">
            <div class="head">
                <h3>Get In Touch</h3>
            </div>
            <div class="address">
                <div class="detail">
                    <img src="icon-1.png" alt="" width="50px">
                    <span class="caption">Survey No. 722 & 713,
                        THANE, MUMBAI,
                        XYZ - 500043</span>
                </div>
                <div class="detail">
                    <img src="icon-2.png" alt="" width="50px">
                    <span class="caption">+918574652782</span>
                </div>
                <div class="detail">
                    <img src="icon-3.png" alt="" width="50px">
                    <span class="caption">info&#64;portacabins.com</span>
                </div>
            </div>
        </div>
    </div>
</footer>