<section class="feature">
  <div class="feature-content">
    <div class="child-1">
      <div class="list">LISTING</div>
      <div class="feat">
        <h2 class="head">Feature Product</h2>
        <p class="caption">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus error
          adipisci, harum ducimus provident veritatis, <br />excepturi
          consequuntur veniam temporibus reprehenderit vel tempora incidunt
        </p>
      </div>
    </div>
    <div class="btn">
      <a href="#" class="pro">All Products</a>
    </div>
  </div>
</section>

<section class="security-section">
  <div class="first">
    <div class="content">
      <div class="number">01</div>
      <div class="text-content">
        <p class="get-started">GET STARTED</p>
        <h1 class="head">SECURITY CABINS</h1>
        <p class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus error
          adipisci, harum ducimus provident veritatis, excepturi consequuntur
          veniam temporibus reprehenderit vel tempora incidunt atque quisquam,
          iste id. Voluptatum, libero ratione.
        </p>
        <a href="#" class="details-link"
          >Details <span class="arrow">→</span></a
        >
      </div>
    </div>
    <div class="image-container">
      <img src="cabin-1.jpg" alt="" class="cabin-image" />
    </div>
  </div>

  <div class="sec">
    <div class="image-container">
      <img src="cabin-2.jpg" alt="" class="cabin-image" />
    </div>
    <div class="content">
      <div class="number">02</div>
      <div class="text-content">
        <p class="get-started">GET STARTED</p>
        <h1 class="head">FARM HOUSE CABINS</h1>
        <p class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus error
          adipisci, harum ducimus provident veritatis, excepturi consequuntur
          veniam temporibus reprehenderit vel tempora incidunt atque quisquam,
          iste id. Voluptatum, libero ratione.
        </p>
        <a href="#" class="details-link"
          >Details <span class="arrow">→</span></a
        >
      </div>
    </div>
  </div>

  <div class="third">
    <div class="content">
      <div class="number">03</div>
      <div class="text-content">
        <p class="get-started">GET STARTED</p>
        <h1 class="head">ACCOMODATION CABINS</h1>
        <p class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus error
          adipisci, harum ducimus provident veritatis, excepturi consequuntur
          veniam temporibus reprehenderit vel tempora incidunt atque quisquam,
          iste id. Voluptatum, libero ratione.
        </p>
        <a href="#" class="details-link"
          >Details <span class="arrow">→</span></a
        >
      </div>
    </div>
    <div class="image-container">
      <img src="cabin-3.jpg" alt="" class="cabin-image" />
    </div>
  </div>

  <div class="forth">
    <div class="image-container">
      <img src="cabin-4.jpg" alt="" class="cabin-image" />
    </div>
    <div class="content">
      <div class="number">04</div>
      <div class="text-content">
        <p class="get-started">GET STARTED</p>
        <h1 class="head">TOILET CABINS VISIBLE</h1>
        <p class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus error
          adipisci, harum ducimus provident veritatis, excepturi consequuntur
          veniam temporibus reprehenderit vel tempora incidunt atque quisquam,
          iste id. Voluptatum, libero ratione.
        </p>
        <a href="#" class="details-link">
          Details <span class="arrow">→</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="team">
  <div class="team-content">
    <div class="child">
      <div class="text">TEAM</div>
      <div class="team-text">
        <h2 class="head">Our Team</h2>
        <p class="caption">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus error
          adipisci, harum ducimus provident veritatis, <br />excepturi
          consequuntur veniam temporibus reprehenderit vel tempora incidunt
        </p>
        <div class="btn">
          <a href="#" class="pro">View All Members</a>
        </div>
      </div>
    </div>

    <div class="team-member">
      <div class="card">
        <img src="member-1.jpg" alt="" class="img" />
        <div class="card-content">
          <h3 class="name">Full Name</h3>
          <span class="title">Professional title</span>
          <p class="caption">
            Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.
          </p>
          <div class="icon">
            <a href="#">
              <img src="linkdin.png" alt="" width="30px" />
            </a>
            <a href="#">
              <img src="twitter.png" alt="" width="30px" />
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="member-2.jpg" alt="" class="img" />
        <div class="card-content">
          <h3 class="name">Full Name</h3>
          <span class="title">Professional title</span>
          <p class="caption">
            Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.
          </p>
          <div class="icon">
            <a href="#">
              <img src="linkdin.png" alt="" width="30px" />
            </a>
            <a href="#">
              <img src="twitter.png" alt="" width="30px" />
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="member-3.jpg" alt="" class="img" />
        <div class="card-content">
          <h3 class="name">Full Name</h3>
          <span class="title">Professional title</span>
          <p class="caption">
            Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.
          </p>
          <div class="icon">
            <a href="#">
              <img src="linkdin.png" alt="" width="30px" />
            </a>
            <a href="#">
              <img src="twitter.png" alt="" width="30px" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client">
  <div class="client-content">
    <div class="head">
      <div class="head-text">
        <h2 class="say">What Our Clients Say</h2>
        <img src="arrow.png" alt="" width="110px">
      </div>
      <div class="rating">
        <img src="star.png" alt="" width="24px">
        <img src="star.png" alt="" width="24px">
        <img src="star.png" alt="" width="24px">
        <img src="star.png" alt="" width="24px">
        <img src="star.png" alt="" width="24px">
      </div>
      <p class="caption">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,<br>
        commodi, temporibus aspernatur eaque consequuntur mollitia deserunt <br>nam
        nisi debitis voluptatibus eveniet ipsum consequatur quam <br>dignissimos
        est, quos vitae? Consequatur, reiciendis?
      </p>
    </div>

    <div class="foot">
      <div class="card">
        <div class="card-content">
          <img src="vector.png" alt="" class="img" />
          <h3 class="name">Name</h3>
          <p class="caption">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum.    
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="vector-2.png" alt="" class="img" />
          <h3 class="name">Name</h3>
          <p class="caption">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum.    
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
