<section class="our-project">
    <div class="content">
      <h1 class="head">Our Projects</h1>
      <ul class="link">
        <li class="link-item">
          <a href="#" class="item-1">Home</a>
          <img src="right-arrow.png" alt="" width="20px" />
        </li>
        <li class="link-item">Our Projects</li>
      </ul>
    </div>
  </section>

  <section class="project-detail">
    <div class="content">
      <div class="child">
        <div class="text">
          <h3>Bunk House Projects</h3>
        </div>
        <div class="pro-image">
            <div class="parent">
              <img src="bunk-house (1).jpg" alt="" width="100%" class="img">
              <h3>Bunk house (1)</h3>
            </div> 
            <div class="parent"> 
              <img src="bunk-house (2).jpg" alt="" width="100%" class="img">
              <h3>Bunk house (2)</h3>
            </div> 
            <div class="parent"> 
              <img src="bunk-house (3).jpg" alt="" width="100%" class="img">
              <h3>Bunk house (3)</h3>
            </div> 
            <div class="parent"> 
              <img src="bunk-house (4).jpg" alt="" width="100%" class="img">
              <h3>Bunk house (4)</h3>
            </div>
        </div>
      </div>

      <div class="child">
        <div class="text">
          <h3>Shop Cabins Projects</h3>
        </div>
        <div class="pro-image">
            <div class="parent">
              <img src="shop-cabin (1).jpg" alt="" width="100%" class="img">
              <h3>Shop Cabins (1)</h3>
            </div> 
            <div class="parent"> 
              <img src="shop-cabin (2).jpg" alt="" width="100%" class="img">
              <h3>Shop Cabins (2)</h3>
            </div> 
            <div class="parent"> 
              <img src="shop-cabin (3).jpg" alt="" width="100%" class="img">
              <h3>Shop Cabins (3)</h3>
            </div> 
            <div class="parent"> 
              <img src="shop-cabin (4).jpg" alt="" width="100%" class="img">
              <h3>Shop Cabins (4)</h3>
            </div>
        </div>
      </div>

      <div class="child">
        <div class="text">
          <h3>Security Cabins Projects</h3>
        </div>
        <div class="pro-image">
            <div class="parent">
              <img src="security-cabin (1).jpg" alt="" width="100%" class="img">
              <h3>Security Cabins (1)</h3>
            </div> 
            <div class="parent"> 
              <img src="security-cabin (2).jpg" alt="" width="100%" class="img">
              <h3>Security Cabins (2)</h3>
            </div> 
            <div class="parent"> 
              <img src="security-cabin (3).jpg" alt="" width="100%" class="img">
              <h3>Security Cabins (3)</h3>
            </div> 
            <div class="parent"> 
              <img src="security-cabin (4).jpg" alt="" width="100%" class="img">
              <h3>Security Cabins (4)</h3>
            </div>
        </div>
      </div>

      <div class="child">
        <div class="text">
          <h3>Farm Cabins Projects</h3>
        </div>
        <div class="pro-image">
            <div class="parent">
              <img src="farm-cabin (1).jpg" alt="" width="100%" class="img">
              <h3>Farm Cabins (1)</h3>
            </div> 
            <div class="parent"> 
              <img src="farm-cabin (2).jpg" alt="" width="100%" class="img">
              <h3>Farm Cabins (2)</h3>
            </div> 
            <div class="parent"> 
              <img src="farm-cabin (3).jpg" alt="" width="100%" class="img">
              <h3>Farm Cabins (3)</h3>
            </div> 
            <div class="parent"> 
              <img src="farm-cabin (4).jpg" alt="" width="100%" class="img">
              <h3>Farm Cabins (4)</h3>
            </div>
        </div>

        <div class="pro-image">
          <div class="parent">
            <img src="farm-cabin (5).jpg" alt="" width="100%" class="img">
            <h3>Farm Cabins (5)</h3>
          </div> 
          <div class="parent"> 
            <img src="farm-cabin (6).jpg" alt="" width="100%" class="img">
            <h3>Farm Cabins (6)</h3>
          </div> 
          <div class="parent"> 
            <img src="farm-cabin (7).jpg" alt="" width="100%" class="img">
            <h3>Farm Cabins (7)</h3>
          </div> 
          <div class="parent"> 
            <img src="farm-cabin (8).jpg" alt="" width="100%" class="img">
            <h3>Farm Cabins (8)</h3>
          </div>
      </div>

      <div class="pro-image-1">
        <div class="parent">
          <img src="farm-cabin (9).jpg" alt="" width="100%" class="img">
          <h3>Farm Cabins (9)</h3>
        </div> 
    </div>
      </div>
    </div>
  </section>
